@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
}


 
:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #000000;
  --text-color-dark: #ffffff;
}

.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}
